<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table style="border: black">
 <thead>
 <tr>
     <th>이름</th>
     <th>생년월일</th>
     <th>직업</th>
     <th>카드</th>
     <th>음식</th>
 </tr>
 </thead>
    <tbody>

        {% for ac in account %}
             <tr>
        <td>{{ ac.name }}</td>
            <td>{{ ac.birthDate }}</td>
            <td>{{ ac.job }}</td>
            <td>{% for c in ac.card.all %}
                {{ c.name }}
                {% endfor %}</td>
            <td>
                {% for f in ac.account_food.all %}
                    {{ f.name }}
                    {% endfor %}
            </td>
             </tr>
        {% endfor %}

    </tbody>
</table>
</body>
</html>